.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.7);
  backdrop-filter: blur(10px);
  z-index: 9999;
  max-height: 90%;
  overflow-y: scroll;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}